*
{
    padding: 0;
    margin:0;
}

.container
{
    width:1170px;
    margin: 0 auto;
}

/* Space out a bit*/
body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: verdana;
}

/* Custom page header */
.header {
    
    padding-bottom: 20px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

#search 
{
  margin-left: 300px;  
  margin-right: 300px;
}

.btn {
	margin-top: 10px;
}

.form-group-search {
	margin-top: 100px;
	margin-bottom: 140px;
}

#search input {
	text-align: center;
}

.form-login {
	margin-top: 100px;
	margin-left: 200px;
}

.form-register {
 	
    margin-right: 250px;
}

.jumbotron-login .jumbotron {
	height: 500px;
}
 
